###  아래 가이드에 따라서 1000명의 고객 구매데이터를 생성하고 아래사항을 수행하세요(관측치 10000개)

#### Q1. 고객 속성(id, 성별, 연령, 거주지역) 데이터와 거래 데이터를 통합한 데이터 프레임 df를 생성하세요.

In [3]:
import pandas as pd
import numpy as np
import random
from datetime import datetime
import time

In [52]:
# 고객 데이터프레임
cusno = np.arange(1001,2001)
gender = np.random.randint(0,2,size=1000)
age = np.random.randint(10,81,size=1000)
region = np.random.randint(1,11,size=1000)

cus = pd.DataFrame({'cusno':cusno,'gender':gender,'age':age,'region':region})

# 거래 데이터프레임
trans_id = random.sample(list(range(10001,50000)), 10000)
cusno = np.random.randint(1001,2001, size=10000)
date = pd.date_range(start='2020-01-01', end='2021-12-31', periods=10000, normalize=True)
day = date.day_name
product_20 = np.random.choice([10,20,30], 10000) # 10:고가, 20:중가, 30:저가
product_21 = np.random.choice([10,20,30], 10000)
price_20 = np.random.uniform(1000,50000,10000).round(2)
price_21 = np.random.uniform(1000,50000,10000).round(2)
quantity_20 = np.random.randint(1,101, size=10000)
quantity_21 = np.random.randint(1,101, size=10000)
time_20 = np.random.randint(1,25, size=10000)
time_21 = np.random.randint(1,25, size=10000)
amount_20 = price_20 * quantity_21
amount_21 = price_21 * quantity_21

trans = pd.DataFrame({
    'trans_id':trans_id, 'cusno':cusno, 'date':date, 'day':day(), 'product_20':product_20,
    'product_21':product_21, 'price_20':price_20, 'price_21':price_21,
    'quantity_20':quantity_20, 'quantity_21':quantity_21,
    'time_20':time_20, 'time_21':time_21, 'amount_20':amount_20, 'amount_21':amount_21})

# cus와 trans merge
df = pd.merge(cus, trans, on='cusno', how='outer')

In [53]:
# 인사이트를 입력하기 위하여 현재 데이터 분석

df.describe()
# 성비는 거의 반반
# 나이는 평균 45.2세
df.head()

,cusno,gender,age,region,trans_id,date,day,product_20,product_21,price_20,price_21,quantity_20,quantity_21,time_20,time_21,amount_20,amount_21
0,1001,1,19,1,40581,2020-09-28 22:51:09.666966696,Monday,20,30,9468.17,26666.25,11,92,4,11,871071.64,2453295.00
1,1001,1,19,1,48411,2020-10-02 07:27:09.882988300,Friday,30,30,13410.62,7631.07,72,26,3,7,348676.12,198407.82
2,1001,1,19,1,32835,2020-12-16 12:11:35.589558956,Wednesday,20,20,41551.22,2458.58,48,25,22,23,1038780.50,61464.50
3,1001,1,19,1,16076,2021-01-27 18:42:09.612961296,Wednesday,30,20,8862.79,48911.01,6,94,21,18,833102.26,4597634.94
4,1001,1,19,1,45052,2021-03-24 16:52:07.992799280,Wednesday,30,20,11818.19,37719.12,23,34,16,11,401818.46,1282450.08

#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요

In [ ]:
# 인사이트 삽입
# 무언가는 판매량이 늘었는데 무언가는 판매량이 줄었다.

# pivot으로 판매성장률 등을 구할 수도 있다.
# 상품별 변동률 산출 등

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.