In [ ]:
# !기호는 Colab 셀에서 Unix/Linux 셸 명령어를 실행하는데 사용
# Unix/Linux 기반이기 때문에 이에 맞는 명령어를 사용해야한다.
!python --version

Python 3.10.12

In [ ]:
# % 기호는 IPython 환경(즉, Colab이 포함된 Jupyter 환경)에서 제공하는 매직 명령어를 사용
# 라인 매직은 단일 라인에 대해 실행되며 % 하나를 사용하고 셀 매직(=> %%)은 셀 전체에 적용되며 %%를 사용
# 현재 작업 폴더 확인
%pwd

'/content'

In [ ]:
%%time
# 간단한 for 루프를 사용한 계산
sum = 0
for i in range(100000):
  sum += i
print(sum)
# 셀 전체를 가지고 사용. 이 경우 해당 계산을 하는데 얼마만큼의 시간이 들었는지를 나타내줌

4999950000
CPU times: user 16.8 ms, sys: 0 ns, total: 16.8 ms
Wall time: 16.9 ms

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [ ]:
# 변수 식별자
count = 10
user_name = "Alice"
_is_valid = True

# 함수 식별자
def calculate_area(radius):
  return 3.14150 * radius * radius

# 클래스 식별자
class Car:
  def __init__(self, model, year):
    self.model = model
    self.year = year

# 모듈 식별자
import math as m

#### 식별자 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_) 만 사용
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [ ]:
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [ ]:
alpha
break #키워드
alpha10
_alpha
273alpha #숫자
AlpHa
ALPHA
has space #공백

## Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [24]:
import keyword
import re

identifiers = ["var1", "2things", "variable_name", "time!", "__init__", "False"]

def collect_name_in_keyword(res_list):

  #맨 앞에 숫자가 있느냐, _ 외에 다른 특수문자가 있느냐

  valid_variables = [var for var in res_list if re.match(r'^[a-zA-Z_][\w+]*$', var) and not keyword.iskeyword(var)]

  print(valid_variables)

collect_name_in_keyword(identifiers)

['var1', 'variable_name', '__init__']

In [13]:
import keyword
def valid_identifiers(identifiers):
  valid = []

  for identifier in identifiers:
    if identifier.isidentifier() and not keyword.iskeyword(identifier):
      valid.append(identifier)
  return valid

# 예제실행
identifiers = ["var1", "2things", "variable_name", "time!", "__init__"]
print(valid_identifiers(identifiers))

['var1', 'variable_name', '__init__']

파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist : item_list itemList
- loginstatus : login_status loginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스케이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [ ]:
# 연산자
a = 5
b = 3
c = b % a
d = a // b
e = b / a

print(c)
print(d)
print(e)

In [31]:
a = 3
b = 5

if a > b:
  print(a)

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑 [a : b]
  - 집합 : 집합을 표현하는 세트(set) {}
  - 블린 : 참, 거짓을 표현

In [32]:
# 정수형 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [43]:
# 정수(int)

print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))
#print(int("A"))
print(chr(100))
print(chr(65))
print(chr(78))
print(chr(79))
print(chr(80))
print(chr(81))
print(chr(97))

1
0
100
3
d
A
N
O
P
Q
a

In [48]:
# 실수(float)
print(float(True))
print(float(False))
print(float(3.14))
print(float(6))
print(float('100'))

1.0
0.0
3.14
6.0
100.0

In [54]:
# 사칙연산 : + * / // % **
# 정수와 실수의 계산 결과는 무조건 실수로 처리된다. 정수로 바꾸려면 int()를 붙여줘야함
# 모든 정수는 실수 안에 포함되기 때문이다.

a = 10
b = 2.3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(type(a // b))
print(a % b)
print(a * b)
print(type(a ** b))

12.3
7.7
23.0
4.347826086956522
<class 'float'>
0.8000000000000007
23.0
<class 'float'>

In [55]:
# 문자열
# 주피터 환경에서 마지막 줄은 print안써도 출력된다.
string = '문자열'
a = "100"

a

'100'

In [61]:
a = 100
b = float(50)
print(a + b)

b = '100'
c = '50'
print(b + c)

# print(a + c) int형과 str형을 합하려했기 때문에 에러난다

# 문자열인 c를 int형으로 바꿔주거나 int형인 a를 str형으로 바꿔주면 해결
print(a + int(c))
print(str(a) + c)

150.0
10050
150
10050

In [64]:
# 사용자 입력
#name = input("안녕하세요. 이름을 입력 : ")
#print(name)

a = input("a : ")
b = input("b : ")

print(int(a + b)) # 결과값은 53. 계산 후 int형으로 처리하기 때문이다.
# input 함수는 입력받은 값을 str형으로 처리한다. 계산하기 전에 int형으로 바꿔줘야한다.

a = int(input("a : "))
b = int(input("b : "))

print(a + b)

a : 5
b : 3
53
a : 3
b : 5
8

In [66]:
# 실수 + 실수 -> 실수

# Q. 3과 3.3을 입력받고 숫자 연산을 수행하여 6.3을 출력하세요

a = float(input("3 입력 : "))
b = float(input("3.3 입력 : "))

print( a + b )

3 입력 : 3
3.3 입력 : 3.3
6.3

In [67]:
# 정수 + 실수 -> 실수
# Q. 3과 3.3을 입력받아서 숫자 연산을 수행하여 6.3을 출력하세요

a = int(input("정수를 입력하세요 : "))
b = float(input("실수를 입력하세요  :"))

print(a + b)

정수를 입력하세요 : 3
실수를 입력하세요  :3.3
6.3

In [73]:
# Q. a = 52와 b = 52.273일 때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.

a = 52
b = 52.273

a = str(a)
b = str(b)
print(a + b)

a = "52"
b = "52.273"
print(b + a)

5252.273
52.27352

In [76]:
# 문자열 : "", '', ''' ''' , """ """
p1 = 'python\'s value is great'
p2 = "python's value is great"
print(p1)
print(p2)

python's value is great
python's value is great

In [79]:
# \n 행바꿈

print("once you study data analysis\nYou need Python\n")
print("once you study data analysis You need Python")
print("once you study data analysis\tYou need Python")

once you study data analysis
You need Python

once you study data analysis You need Python
once you study data analysis	You need Python

In [87]:
y2 = '''
Once you study data analysis
You need Python
'''

y3 = '''Once you study data analysis
You need Python'''

y4 = """
Once you study data analysis
You need Python"""

print(y2)
print(y3)
print(y4)

Once you study data analysis
You need Python

Once you study data analysis
You need Python

Once you study data analysis
You need Python

In [90]:
a1="Python"
a2 = " is easy to learn"
print(a1 + a2)
print("=" * 25)

Python is easy to learn
=========================

In [93]:
# Q. 아래와 같이 출력할 수 있는 string을 만드세요.

#"What a wonderful world!"
# he said loudly

world = '"What a wonderful world!"\nhe said loudly'
print(world)

world='''"What a wonderful world!"
hesaid loudly'''
print(world)

"What a wonderful world!"
he said loudly
"What a wonderful world!"
hesaid loudly

In [99]:
# Q. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요

num1 = int(input("정수를 입력하세요 : "))
num2 = float(input("실수를 입력하세요 : "))

if num1 > num2:
  print(num1)
elif num1 < num2:
  print(num2)
else:
  print("두개의 숫자가 같습니다")

정수를 입력하세요 : 3
실수를 입력하세요 : 3.3
3.3

In [113]:
# 자료형 - List
# 리스트는 []로 표시하며, []안의 요소를 콤마로 구분하여 순서있게 나열

list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c', 'abc']]
# 인덱싱
print(list1[0:2])
# 굳이 for문을 쓰지않아도 이렇게 출력가능
print(list1[0:4])
#print(list1)
#print(list2)
#print(list3[3][0])

for i in list3:
    if isinstance(i, list):
      for n in i:
        print(f"이중배열 : {n}")
    else:
      print(f"list3의 값 : {i}")

[1, 2]
[1, 2, 3, 4]
list3의 값 : 1
list3의 값 : a
list3의 값 : abc
이중배열 : 1
이중배열 : 2
이중배열 : 3
이중배열 : 4
이중배열 : 5
이중배열 : a
이중배열 : b
이중배열 : c
이중배열 : abc

In [122]:
# 더블 인덱싱

list1= [1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c', 'abc']]

print(list1[3][2])
print(list1[4][0])

for i in list1:
  if isinstance(i, list):
    print(i[0:len(i)])
  else:
    print(i)

del list1[0]

print("="*25)

3
a
1
a
abc
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'abc']
=========================
['a', 'abc', [1, 2, 3, 4, 5]]
a

In [133]:
# - 인덱싱

a = [1,2,3,4,5,6,7,8,9]
b = ['a', 'b', 'c', 'd', 'e']

print(a[-1])
print(a[-2:])
print(a[-4:-1])
print(a[-3:-5]) # 이건 안된다.

9
[8, 9]
[6, 7, 8]
[]

In [140]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
h.append(6)
print(h)
h.insert(0,5)
print(h)
# h.insert(7) insert()는 위치와 값을 함께 입력해야한다. 마지막에 추가하는건 append()
h.insert(6,9)
print(h)
h.append(20)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 9, 6]
[5, 1, 2, 3, 4, 5, 9, 6, 20]

In [144]:
# isidentifier()
b = "string"
s = "김한결"
a = 100
f = 3.3
print(type(b.isidentifier()))
print(type(s.isidentifier()))
#print(type(a.isidentifier())) 에러
#print(type(f.isidentifier())) 에러
# class 'bool' 반환

<class 'bool'>
<class 'bool'>

Q. list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [178]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print('1. ', list1[11][1])

list1.append(82)
print('2. ', list1)

print("3. ", list1.index(87))

list2 = list1[3:11] # 3에서 11 앞까지 = 3~10인것
#print('4. ', sorted(list2, reverse=True))
list2.sort(reverse=True)
print('4. ', list2)

n1 = list1.index(39)
list1[n1] = 11
print('5. ', list1[n1])

# 2부터 끝까지인데 -1은 꺼꾸로라는 뜻
# 그래서 :: 두번쓴다. :한번쓰면 끝까지라는 뜻인데 :를 하나 더 붙여서 -1꺼꾸로라는 의미를 부여했다.
print('6. ', list1[2::-1])
# 0부터 끝까지인데 2스텝으로
print('7. ', list1[0::2])

del list1[-1]
print('8. ', list1)

print('9 ', list1[3] + list1[5])

# 3번째부터 거꾸로 끝까지 출력
print(list1[2::-1])
# 3번째부터 한칸씩 띄고 끝까지 출력
print(list1[2::2])
# 9번째 부터 거꾸로 2칸씩
print(list1[8::-2])
# 처음부터 끝까지인데 역순
print(list1[::-1])
# 시작점과 끝점, 역순이면?
print(list1[9:4:-1])

1.  33
2.  [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
3.  5
4.  [87, 54, 39, 29, 19, 15, 13, 4]
5.  11
6.  [69, 45, 58]
7.  [58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
8.  [58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
9  106
[69, 45, 58]
[69, 4, 29, 11, 54, 27, 63, 22]
[11, 29, 4, 69, 58]
[82, 22, 98, 63, 49, 27, [8, 33, 11], 54, 15, 11, 13, 29, 87, 4, 19, 69, 45, 58]
[15, 11, 13, 29, 87]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
# sort()
list1 = [3, 1, 2]
list1.sort()
print(list1)
print("="*25)

# sorted() 무조건 리스트반환
tuple1 = (3, 1, 2)
print(sorted(tuple1))
print("="*25)
t_list = sorted(tuple1)
print(t_list, "\n")
print(tuple1)

tuple2 = (sorted(tuple1))
tuple2 = tuple(tuple2) #반환된 리스트를 튜플로 바꿀수는 있음
# tuple2.append(2) 튜플은 수정이 안됨
# tuple2[0] = 5
print(tuple2, "\n")
tuple2 = list(tuple2)
print(tuple2,'\n')

In [194]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print(list1[3:11], '\n')
my_list = list1[3:11] # (11의 앞인 10까지 나온다)
my_list.sort(reverse=True)
print(my_list, '\n')

[19, 4, 87, 29, 13, 39, 15, 54]

[87, 54, 39, 29, 19, 15, 13, 4]

In [195]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print(list1[3:11], '\n')
my_list = sorted(list1[3:11], reverse=True)
print(my_list, '\n')

[19, 4, 87, 29, 13, 39, 15, 54]

[87, 54, 39, 29, 19, 15, 13, 4]

#### Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

#### Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

#### Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

target = 'apple'

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

#### Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.
##### 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

#### Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
##### 예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [196]:
# Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

min_num = min(numbers)
max_num = max(numbers)

print(f"최소값 : {min_num} / 최대값 : {max_num}")

최소값 : 4 / 최대값 : 87

In [205]:
# Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요
import numpy

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

sum_num = sum(numbers)
avg_num = numpy.mean(numbers)
print(f"합계 : {sum_num} / 평균 : {avg_num}입니다.")

# 풀어서 계산해보자

def sum_number(numbers):
  sn = 0
  for i in numbers:
    sn += i
  return sn

def avg_number(numbers):
  sum_res = sum(numbers)
  avg_res = sum_res/len(numbers)

  return avg_res

print("합계는 : ", sum_number(numbers))
print("평균은 : ", avg_number(numbers))

합계 : 378 / 평균 : 37.8입니다.
합계는 :  378
평균은 :  37.8

In [218]:
#Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

target = 'apple'
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

apples = []

#for i in range(len(items)):
#  if items[i] == target:
#    apples.append(i)

#print(apples)

# 왜 동작하냐면 if items[i] == target이면 'i' 값이 리스트에 담기기 때문이다. 이때 i는 '인덱스값'이다.
apples = [i for i in range(len(items)) if items[i] == target]

print(apples)

[0, 3, 5]

In [227]:
# Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요.
# 단, 처음 등장하는 요소는 유지해야 합니다.
# 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

list1 = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']

list2 = []

for i in list1:
  if i not in list2:
    list2.append(i)

print(list2)

['a', 'b', 'c', 'd', 'e']

In [278]:
# Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요.
# k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
# 예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.
# 1 2 3 4 5
#1번 51234
#2번 45123
#3번 34512
#4번 23451
#5번 12345
#6번 51234
#7번 45123

int_list = list(input("리스트를 입력해주세요 : "))
k = int(input("회전시킬 값을 입력해주세요 : "))

rot_list = int_list[:rn]
leng = len(int_list)
rn = leng - k

res_list = int_list[rn:]
res_list = res_list + int_list[:rn]

print(f"회전 후의 리스트는 {res_list}(이)가 됩니다.")

리스트를 입력해주세요 : 12345
회전시킬 값을 입력해주세요 : 4
k가 4이면 오른쪽으로 4번 밀린다.
결국 회전 후의 리스트는 ['2', '3', '4', '5', '1'](이)가 됩니다.