Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [ ]:
num1 = int(input("숫자를 입력해주세요"))
num2 = int(input("숫자를 입력해주세요"))

if num1 % 2 == 0 and num2 % 2 == 0:
  print(f'둘다 짝수이므로 {num1} x {num2} = {num1*num2}입니다.')
elif num1 % 2 == 1 and num2 % 2 == 1:
  print(f'둘다 홀수이므로 {num1} + {num2} = {num1+num2}입니다.')
else:
  print('다시 입력해주세요')

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [12]:
import pytz
import datetime

local = pytz.timezone('Asia/Seoul')
month = datetime.datetime.now(local).month # 5월

if month >= 3 and month <= 5:
  print('현재 계절은 봄입니다.')
elif month >= 6 and month <= 8:
  print('현재 계절은 여름입니다.')
elif month >= 9 and month <= 11:
  print('현재 계절은 가을입니다.')
elif month == 12 or month <= 2:
  print('현재 계절은 겨울입니다.')

현재 계절은 봄입니다.

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

In [10]:
numbers = list(range(1, 100))

max_num = 0
l1 = []
for i in range(99//2+1):
  num = (i+1) * numbers[-(i+1)]
  if num > max_num:
    max_num = num
    l1 = [i+1, numbers[-(i+1)]]

print(f'가장 큰 숫자 조합 : {l1[0]} X {l1[1]} = {max_num}')

가장 큰 숫자 조합 : 50 X 50 = 2500

In [11]:
numbers = list(range(1, 100))

mul_list = []
for i in range(99//2+1):
  mul_list.append((i+1) * numbers[-(i+1)])

print(max(mul_list))

2500

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

 [[1,4,7],[2,5,8],[3,6,9]]

In [10]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [numbers[i::3] for i in range(3)]
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

In [14]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
list(set(input_list))

[1, 2, 3, 4, 5, 6, 7]

Task6_0502. 주어진 문자열을 모스코드로 변환하는 함수를 작성하세요.
공백은 무시하고 알파벳만 변환하세요.
input_text = "Hello World"

In [17]:
import re

morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }

input_text = 'Hello World'

hw = list(re.findall('[\w]', input_text))

morse_text = ''
for i in hw:
  i = i.upper()

  morse_text += morse_code[i]

print(morse_text)

......-...-..---.-----.-..-..-..

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [38]:
#[1, 6, 15, 24, 20, 12]

# [0][0]
# [0][1] [1][0]
# [0][2] [1][1] [2][0]
# [1][2] [2][1] [3][0]
# [2][2] [3][1]
# [3][2]

# 0-1-2-1-2-3-2-3-4-3-4-5


def get_sum_diagonal(arr):
  out_arr = [0, 0, 0, 0, 0, 0]

  for i1 in range(len(arr)):
    for i2 in range(len(arr[i1])):
      out_arr[i1+i2] += arr[i1][i2]

  return out_arr

arr = [
    [ 1,  2,  3],
    [ 4,  5,  6],
    [ 7,  8,  9],
    [10, 11, 12]
]
result = get_sum_diagonal(arr)
result

[1, 6, 15, 24, 20, 12]