Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

In [18]:
name = 'kim han gyeoL'

name.lower()
list1 = name.split(' ')
title = [i[0].upper()+i[1:] for i in list1]
title = [i.capitalize() for i in list1]
print(f"{' '.join(title)}")

Kim Han Gyeol

Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [1]:
list1 = ['a', 'b', 'c']

print('::'.join(list1))

a::b::c

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [14]:
while True:
  txt = input('문자열 입력 : ')

  if txt.isdigit():
    res = int(txt)+100
    print(res)
    break
  else:
    print('숫자만 입력해주세요')

문자열 입력 : 235235g
숫자만 입력해주세요
문자열 입력 : 41241a
숫자만 입력해주세요
문자열 입력 : 124124
124224

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
사용자로부터 문자열을 입력받습니다.
입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.

In [16]:
val = input('비밀번호를 입력하세요: ')
if val.isalnum():
  print(f"{val}은 유효한 아이디입니다.")
else:
  print(f"{val}은 유효하지 않습니다. 알파벳과 숫자만 포함할 수 있습니다")

비밀번호를 입력하세요: asdg121@#
asdg121@#은 유효하지 않습니다. 알파벳과 숫자만 포함할 수 있습니다

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.

In [17]:
list = []
for i in range(0,20,2):
  list.append(i*i)
print(list)

list1 = [i*i for i in range(0,20,2)]
print(list1)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.

In [21]:
import time
from datetime import datetime

def get_timestamp_to_datetime(unix):
  return datetime.fromtimestamp(unix)

unix = time.time()
dt = get_timestamp_to_datetime(unix)
print(dt)

2024-05-08 06:30:41.006606

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.

In [22]:
from datetime import datetime

def get_datetime_to_str(now):
  return now.strftime('%Y-%m-%d %H:%M:%S')

now = datetime.now()
dt_str = get_datetime_to_str(now)
print(dt_str)

2024-05-08 06:33:50

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [26]:
import time

count = time.localtime().tm_yday

print(f'올해 경과된 날짜 수는 {count} 입니다.')

올해 경과된 날짜 수는 129 입니다.

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [48]:
import time
from datetime import datetime

wdays = {'Mon':'월요일', 'Tue':'화요일', 'Wed':'수요일', 'Thu':'목요일', 'Fri':'금요일', 'Sat':'토요일', 'Sun': '일요일'}

now  = datetime.now()
date = now.date()
wday = now.strftime("%a")

print(f'{date} 오늘은 {wdays[wday]}입니다.')

2024-05-08 오늘은 수요일입니다.

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

In [67]:
import time

start = time.time()
sn = sum(range(1, 1000001))
end = time.time()
print(f"1에서 백만까지 더하는데 걸린 시간 : {(end - start):.3f}초")

1에서 백만까지 더하는데 걸린 시간 : 0.034초